h2{
    color: white;
}
div.bg1{
    background-color: black;
    width: 280px;
    height: 1900px;
    display: inline-block;
}

div.bg1 div.box{
    width: 80px;
    height: 60px;
}

div.bg1 div.box1{
    background-color: aqua;
}

div.bg1 div.box2{
    background-color: rgb(123, 255, 0);
}

div.bg1 div.box3{
    background-color: rgb(204, 0, 255);
}


div.bg2{
    background-color: black;
    width: 280px;
    height: 1900px;
    display: inline-block;
}

div.bg2 div.box{
    width: 80px;
    height: 60px;
    position: relative;
}

div.bg2 div.box1{
    background-color: aqua;
    left: 140px;
    z-index: 2;
}

div.bg2 div.box2{
    background-color: rgb(123, 255, 0);
    left: 70px;
    bottom: 50px;
    z-index: 1;
}

div.bg2 div.box3{
    background-color: rgb(204, 0, 255);
    bottom: 100px;
    z-index: 3;
}


div.bg3{
    background-color: black;
    width: 280px;
    height: 1900px;
    display: inline-block;
    position: relative;
}

div.bg3 div.box{
    width: 80px;
    height: 60px;
    position: relative;
    color: white;
}

div.bg3 div.box1{
    background-color: aqua;
    position: absolute;
    top:0%;
    right:0%;
}

div.bg3 div.box2{
    background-color: rgb(123, 255, 0);
}

div.bg3 div.box3{
    background-color: rgb(204, 0, 255);
}

div.fixed_box{
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
}
div.fixed_box p{
    color: white;
    text-align: center;
}


div.sticky_box{
    display: inline-block;
    background-color: green;
    position: sticky;
    top: 0;
    left: 200px;
    width: 200px;
    height: 100px;
}
div.sticky_box p{
    color: white;
    text-align: center;
}

a{
    text-align: center;
    display: block;
    padding:  30px 10px;
    color: white;
    background-color: coral;
}
a:hover{
    background-color: rgb(134, 67, 43);
}