/* 這是Tag selector */

div{
    color: green;
}


/* 這是class Selector */

*.redText{
    color: red;
}

/* 這是Descendent selector */
div.redText p#big{
    font-size: 2rem;
}

/* 這是Pseudo Classes */
p#hover:hover{
    color: blue;
    background-color: rgb(152, 255, 250);
}

/* 這是Pseudo Elements */
h1::after , p::after  , h1::before , p::before{
    content: "★";
    color: blue;
}


div.cls1 p#id1{
font-size: 2rem;
}

/* 這是Attribute Elements */
input[type="text"]{
    color: red;
}
input[type=text]#input1::placeholder{
    color:tomato;
}